<% provide(:title,'Report Volunteer') %>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @painting.name %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag @painting.image_url(:thumb) if @painting.image? %>
</p>


<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
